<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.ruihaohuang">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tictactoe.TicTacToeMainActivity"
            android:label="@string/title_activity_tic_tac_toe"
            android:theme="@style/TicTacToeTheme" />
        <activity
            android:name=".tictactoe.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/TicTacToeTheme" />
        <activity
            android:name=".dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dictionary.DictionaryAcknowledgementsActivity"
            android:label="@string/title_activity_acknowledgements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scroggle.ScroggleMainActivity"
            android:label="@string/title_activity_scroggle_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scroggle.ScroggleGameActivity"
            android:label="@string/title_activity_scroggle_game"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scroggle.ScroggleAcknowledgementsActivity"
            android:label="@string/title_activity_scroggle_acknowledgements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".communication.CommunicationActivity"
            android:label="@string/title_activity_communication"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <service android:name=".utils.MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".communication.CommunicationAcknowledgementsActivity"
            android:label="@string/title_activity_communication_acknowledgements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".twoplayerscroggle.TwoPlayerScroggleMainActivity"
            android:label="@string/title_activity_two_player_scroggle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".twoplayerscroggle.TwoPlayerScroggleGameActivity"
            android:label="@string/title_activity_two_player_scroggle_game"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".twoplayerscroggle.TwoPlayerScroggleAcknowledgementsActivity"
            android:label="@string/title_activity_two_player_scroggle_acknowledgements"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>